.title{
    text-align: center;
}

.link-web{
    color: rgb(246, 246, 246);
}

.link-web:hover{
    color: rgb(30, 29, 29);
}

section{
    margin-top: 40px;
}

h2{
    margin : 10px;
}

p{
    margin : 10px;
}